<% content_for :current_page, 'settings' %>
<h2 class="withTip">About</h2>

<p>Stream Congress is a comprehensive news feed that tracks the online activity of Congress in real time. It compiles all Tweets, YouTube videos and floor updates from members of Congress into a single information stream, which can then be customized by users.</p>

<p>Stream Congress is a product of the <a href="http://sunlightfoundation.com">Sunlight Foundation</a>.</p>
