<% content_for :current_page, 'settings' %>
<h2 class="withTip">About</h2>

<p>Stream Congress is a comprehensive news feed that tracks the online activity of Congress in real time. It compiles various streams of updates from members of Congress into a single information stream, which can then be customized by users.</p>

<p>Currently, we track:</p>
<ul style="list-style-type:circle;margin-left:20px;">
  <li>Tweets</li>
  <li>YouTube uploads</li>
  <li>News articles</li>
  <li>House and Senate floor updates</li>
  <li>Bill status and floor votes</li>
  <li>Committee hearing notices</li>
  <li>Whip notices</li>
</ul>

<p>Facebook updates are coming soon.</p>

<p>Stream Congress is a project of the <a href="http://sunlightfoundation.com">Sunlight Foundation</a>.</p>
