<% content_for :current_page, 'settings' %>
<h2 class="withTip">Optimized for Google Chrome</h2>

<p><a href="http://google.com/chrome"><img style="border:none;" src="http://www.google.com/intl/en/images/logos/chrome_logo.gif" /></a><br/></p>

<p>This app utilizes advanced features, and works best in Google Chrome. <a href="http://google.com/chrome">Download it</a> now.</p>

<p>Using Internet Explorer? Install <a href="http://www.google.com/chromeframe">Google Chrome Frame</a>.</p>

