<% content_for :current_page, 'settings' %>
<h2 class="withTip">Install Google Chrome Frame</h2>

<p><a href="http://google.com/chromeframe/"><img width="200px" style="border:none;" src="http://www.google.com/images/icons/illustrations/chrome_frame-430.png" /></a><br/></p>

<p>Stream Congress utilizes advanced features, and requires Google Chrome Frame to operate. <a href="http://google.com/chromeframe/">Install it</a> now.</p>


