<h2 id="happeningTitle">Happening Now...</h2>
<article>
  <img src="images/pic1.jpg" />
  <div class="articleContent">
    <a class="date" href="#">9.30.10 18:34:30</a>
    <h3>Sen. Jim Webb was mentioned in Wall Street Journal Blogs: VA Lawmakers Urge Obama to Stop Military Closing –</h3>
    <p>Lawmakers are stepping up a campaign to force the Pentagon to rethink plans to close a Virginia-based military command...</p>
    <ul>
      <li><a href="#">0 comments</a></li>
      <li><a href="#">View Original</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</article>
<article>
  <img src="http://assets.sunlightfoundation.com/moc/100x125/W000805.jpg" width="59px" />
  <div class="articleContent">
    <a class="date" href="#">9.30.10 12:04:03</a>
    <h3>Sen. Mark Warner tweeted -</h3>
    <p>Great visits, productive conversations this wk in Winchester, Harrisonburg, Staunton VA. Blogs,pics @ www.warner.senate.gov -Staff</p>
    <ul>
      <li><a href="#">0 comments</a></li>
      <li><a href="#">View Original</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</article>
<article>
  <img src="http://assets.sunlightfoundation.com/moc/100x125/C001078.jpg" width="59px" />
  <div class="articleContent">
    <a class="date" href="#">9.30.10 11:48:45</a>
    <h3>Rep. Gerry Connolly posted a video:</h3>
    <object width="300" height="250"><param name="movie" value="http://www.youtube.com/v/8EqI7qOrKWE?fs=1&amp;hl=en_US&amp;rel=0&amp;hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/8EqI7qOrKWE?fs=1&amp;hl=en_US&amp;rel=0&amp;hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="300" height="250"></embed></object><br />
    <p>Connolly calls for hearings to determine rationale behind Secretary Gates defense recommendations</p>
    <ul>
      <li><a href="#">0 comments</a></li>
      <li><a href="#">View Original</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</article>